<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>CP | Activation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/css/penguin.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/custom.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=<%= site_key %>"></script>
  <script>
    grecaptcha.ready(function () {
        grecaptcha.execute('<%= site_key %>', { action: 'home' }).then(function (token) {
            var recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = token;
        });
    });
</script>

</head>

<body>

    <center>
        <% if (error_msg != '') { %>
            <div class="alert alert-danger" role="alert"><%= error_msg %></div>
            <% } %>

        <% if (success_msg != '') { %>
            <div class="alert alert-success" role="alert"><%= success_msg %></div>
            <% } %>
        </center>
          


</body>


   </html>